{% extends 'Administrador/administrador.html' %}
{% load static %}
{% block contenido %}
    <div>
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2 class="display-3">Lista de adoptantes (Control de visitas)</h2>
            </div>
        </div>
    </div>
    <br>
    <div class="card border-0 shadow mb-0 col-sm-12">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                    <tr class="text-center">
                        <th class="border-0 rounded-start">Adoptante</th>
                        <th class="border-0 ">Registrar visita</th>
                        <th class="border-0 rounded-end">Historial de visitas</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for adoptador in adoptadores %}
                        <tr class="text-center">
                            <td>{{ adoptador.usuario.nombres }} {{ adoptador.usuario.apellidos }}</td>
                            <td>
                                <button onclick="abrir_modal_registrar_reunion('{% url 'vista_registrar_reuniones' adoptador.id %}')"
                                        class="btn btn-secondary btn-sm">Registrar visita
                                </button>
                            </td>
                            <td>
                                <a href="{% url 'vista_historial_reuniones' adoptador.id %}"
                                   style="color: white;"
                                   class="btn btn-success btn-sm">
                                    Historial
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="registrar" tabindex="-1" role="dialog"
         aria-labelledby="modal-subscribe" aria-hidden="true">
    </div>
{% endblock %}

{% block js_script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        function abrir_modal_registrar_reunion(url) {
            $('#registrar').load(url, function () {
                $(this).modal('show')
            });
        }
    </script>
    <script src="{% static 'js/js-admin/index.js' %}"></script>

{% endblock %}